<section id="home">
    <div class="overlay">

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 wow bounceInUp">
                                <div class="home-text text-center">
                                    <h1>Son<span>Wayr</span></h1>

                                    <h3>{{ title }}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</section>